{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./"],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".android.js",
          ".android.tsx",
          ".ios.js",
          ".ios.tsx"
        ],
        "alias": {
          "_assets": "./src/assets",
          "_components": "./src/components",
          "_animations": "./src/components/animations",
          "_atoms": "./src/components/atoms",
          "_molecules": "./src/components/molecules",
          "_organisms": "./src/components/organisms",
          "_specials": "./src/components/specials",
          // "_navigations": "./src/navigations",
          "_screens": "./src/screens",
          "_services": "./src/services",
          // "_styles": "./src/styles",
          "_redux": "./src/redux",
          "_utils": "./src/utils"
        }
      }
    ]
  ],
  "presets": ["module:metro-react-native-babel-preset"]
}
